.DashContainer{
    height:100%;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    display:flex;
    margin-left:1%;
}
@media(max-width:500px){
    .DashContainer{
        flex-direction:column;
        justify-content: space-evenly;
        overflow-y: auto;
    }
}