.Parent-container{
    transform: translate3d(0,0px,0);
    transition:.5s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 4px;
    border: solid 1px rgb(80, 104, 136);
    width:55%;
    height:85%;
    margin-right:10px;
    position: relative;
}
.Longer-Parent-Container{

    height:85%;
    width:80%;
}
.chat-container-Header, .footer-parent{
    height:6%;
    background-color:rgb(112,146,190);
    border: solid 2px rgb(112,146,190);
}
.chat-container-Header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.chat-container-Header > h3{
    color:white;
    margin-left:45%;

}

.title-button-container{
    width:100%;
}

.footer-parent{
    position: absolute;
    bottom:0;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border:none;
}

.message-bar{
    width:80%;
    border-radius:50px;
    border: solid 1px rgb(80, 104, 136);
    padding: .5%;
}
.send-msg-button{
    /* padding:.5%; */
    padding:5px;
    background-color:rgb(80, 104, 136);
    color:white;
    border: solid 1px rgb(80, 104, 136);
    /* margin-left:2px; */
    border-radius: 4px;
    font-size: 16px;
}
.message-box{
    margin:5%;
}

.goBack{
    background:none;
    border:none;
}